html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text */
}
.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
}
h2 {
    color: #333;
}
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.input-group input {
    margin-bottom: 5px;
}
.btn-secondary {
    background-color: #6c757d;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}
.btn-secondary:hover {
    background-color: #5a6268;
}
.btn-primary {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}
.btn-primary:hover {
    background-color: #0056b3;
}
#result {
    margin-top: 20px;
    font-weight: bold;
    color: #007bff;
}
.remove-btn {
    background-color: #dc3545;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    align-self: flex-start;
}
.remove-btn:hover {
    background-color: #c82333;
}
